<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.dairycattle">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ViewInfo"></activity>
        <activity android:name=".AddBreeding" />
        <activity android:name=".ViewBreeding" />
        <activity android:name=".AddDisease" />
        <activity android:name=".ViewDisease" />
        <activity android:name=".CattleHome" />
        <activity android:name=".AddVaccine" />
        <activity android:name=".ViewVaccination" />
        <activity android:name=".addCattle" />
        <activity android:name=".ViewCattles" />
        <activity android:name=".ViewFarms" />
        <activity android:name=".addFarm" />
        <activity android:name=".View_Farm" />
        <activity android:name=".Retrive" />
        <activity android:name=".Home" />
        <activity android:name=".Register" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>